body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#container {
    text-align: center;
    color: white;
}
#speech-bubble {
    position: absolute;
    margin-left: -50px; /* Adjust based on actual image dimensions */
    margin-top: -50px; /* Adjust based on actual image dimensions */
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}
#mona-lisa {
    width: 80vw;  /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    max-height: 70vh; /* Adjust the max height as needed */
    object-fit: contain;
}
#label {
    font-size: 3em; /* makes the text three times larger than the normal text size */
    color: white; /* example color - adjust as needed */
    text-align: center;
    margin-top: 20px; /* adds space above the label */
}
